/*

  style.css

*/
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #A6808C;
  height: 100%;
}
h1 {
  font-family: 'Comfortaa', sans-serif;
  font-size: 3.5em;
  color: #eee;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #656E8A;
  padding: .25em;
}
.aboutContent {
 float: left;
 width: 70%;
}
.profilePic {
  float: right;
  width: 25%;
}
.contentSpace {
  background-color: #CCB7AE;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  padding: 2em 3em 2em 3em;
}
.post {
  color: #111;
  font-family: 'Merriweather Sans';
  font-size: 14pt;
  background-color: #eee;
  padding: 2em 3em 2em 3em;
  border-radius: 0.5em 3em 3em 3em;
  margin-bottom: 1em;
}

.aboutContent .post {
  border-radius: 3em 3em 0.5em 3em;
  padding: 2em 3em 2em 3em;
}

.artcol1 {
  text-align: center;
  float: left;
  width: 49%;
}
.artcol1 .post {
  border-radius: 3em 0.5em 3em 3em;
  padding: 1em 2em 1em 2em;
}
.artcol2 {
  text-align: center;
  float: right;
  width: 49%;
}
.artcol2 .post {
  border-radius: 0.5em 3em 3em 3em;
  padding: 1em 2em 1em 2em;
}
nav ul {
  /*height: 10%;*/
  list-style: none;
  background-color: #9E4364;
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
}
nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.75em;
  line-height: 1.8em;
  height: 1.8em;
  border-bottom: 1px solid #656E8A;
}
nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
nav a:hover {
  background-color: #A6808C;
}
nav a:active {
  background-color: #fff;
  color: #111;
  cursor: default;
}

@media screen and (min-width: 600px) {
  nav li {
    width: 5em;
    border-bottom: none;
    height: 1.8em;
    line-height: 1.8em;
    font-size: 1.75em;
  }

  /* Option 1 - Display Inline */
  nav li {
    display: inline-block;
    margin-right: -4px;
  }
}
